html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    font-family: "Inter", sans-serif;
}

h1 {
    color: #FF8200;
    font-size: 4rem;
    margin: -.25rem;
    padding-top: 1rem;
}


.day-mode h2 {
    color: #ffffff;
    font-size: 2.3rem;
    margin-bottom: -2rem;
}

.night-mode h2 {
    color: #ababab;
    font-size: 2.3rem;
    margin-bottom: -2rem;
}

/* high and low */
.day-mode h3 {
    color: #ffffff;
    font-size: 3.5rem;
    margin-bottom: -1rem;   
}

.night-mode h3 {
    color: #ababab;
    font-size: 3.5rem;
    margin-bottom: -1rem;   
}

/* Description */
.day-mode h4 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.night-mode h4 {
    color: #ababab;
    font-size: 2rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/* weather icon and temp alignment */
.temp-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: .5rem;
    margin-top: -2.5rem;
    margin-bottom: -4rem;
}

.temp-container img {
    width: 13rem;
    height: 13rem;
    margin: 0; 
}

.day-mode temp, .night-mode temp {
    display: block;
    text-align: center;
}

.day-mode temp {
    color: #ffffff;
    font-size: 6.5rem;
}

.night-mode temp {
    color: #ababab;
    font-size: 6.5rem;
}

/* Container Styling */
.container {
    text-align: center;
    width: 800px;
    height: 480px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Conditional rendering for time of day */
.day-mode {
    background-color: #3f86b2; 
    color: black;
}

.night-mode {
    background-color: #2f2f2f; 
    color: white;
}
