<!DOCTYPE html>
<html lang="en">
<head>
    <!-- refreshes the page every 5 min -->
    <meta http-equiv="refresh" content="300">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="{% if is_night %}night-mode{% else %}day-mode{% endif %}">
    <div class="container">
        <h1>{{ pretty_date }}</h1>
        <h4>{{ description }}</h4>        
        <div class="temp-container">
            <img src="{{ icon }}" alt="Weather Icon" />
            <temp>{{ temp }}°F</temp>
        </div>
        <h3>H: {{ high }} L: {{ low }}</h3>
        <h2>Feels Like: {{ feels_like }}°F</h2> 
        <!-- Removing the Precip Chance for now -->
        <!-- <h2>{{ precip }}% Precip Chance</h2> -->
    </div>
</body>
</html>
    